body {
    font-family: monospace;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/back-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

nav ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: 10px 25px;
}

nav ul li a,
.login-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
}

.login-btn,
.btn {
    display: inline-block;
    text-align: center;
    padding: 14px 40px;
    margin-right: 15px;
    text-decoration: none;
}

.btn {
    color: #fff;
    background-image: linear-gradient(45deg, #fa619c, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.4s ease;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    font-size: 1.25rem;
    color: #333;
    animation-delay: 0.5s;
}

.content .btn {
    padding: 15px 80px;
    font-size: 1rem;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.feature-img {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 530px;
    filter: brightness(105%);
}

.feature-img.animate {
    animation-delay: 1.5s;
}

.animate {
    opacity: 0;
    transform: translateY(35px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 650px) {
    nav {
        flex-direction: column;
    }
    nav ul li,
    .login-btn,
    .btn {
        display: block;
    }
    .feature-img {
        display: none;
    }
}